.root{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	height: 50px;
	&__cont{
		height: fit-content;
		word-wrap: break-word;
		margin-right: 5px;
	}
}
.title{
	width:200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;

	&:hover {
		overflow: unset;
    	overflow-y: scroll;
		word-wrap: break-word;

	}
}
.author{
	width:200px;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	       &:hover {
            overflow: unset;
        }
}
.genres{
	width:200px;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	       &:hover {
            overflow: unset;
        }
}
.des{
	width:300px;
}
